*{
    margin: 0;
    padding: 0;
}


#navbar{
    display: flex;
    height: auto;
    width: auto;
    justify-content: space-between;
    padding-top: 50px;
    background: white;
    position: sticky;
    top: 0;
    

}
#navlft{
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 20%;
}
#navrgt{
    display: flex;
    justify-content:space-around;
    padding-top: 5px;
    height: auto;
    width: 30%;
}

.wrap{
    width: 50px;
    
}
.icon{
    width: 25px;
    height: 2px;
    background: rgb(20, 14, 14);
    margin: 6px 0px;

}

.logo{
    width: 130px;
}


#cont{
      
         height: 300px;
         width: 800px;
         margin-left: 120px;
         margin-top: 80px;
         display: flex;
         justify-content: space-between;
         
}

.login{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: auto;
        width: 35%;
        padding: 10px;
        border-radius: 3px;
}
.login h6{

font-family: Arial, Helvetica, sans-serif;
color: gray;
}

.login >input ,h6:hover{
    cursor: pointer;

}

.regi{
    padding: 10px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: auto;
        width: 55%;

}
.login>input{

    width: 99%;
    height: 30px;
   
}
.btnip{
    background-color: black;
    color: white;

}
.btnip:hover{
    background-color: rgb(90, 86, 86);
}

.regi>p{

    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
}
.regi input{

    width: 60%;
    background-color: black;
    color: white;
    height: 30px;
}

 .regi>p,input:hover{
     cursor: pointer;
     

 }

 
 .regi input:hover{

     background-color: rgb(90, 86, 86);

 }

 #footer{

    
    height: 600px;
    width: 100%;
    margin-top: 20%;
    display: flex;
    gap: 30px;
    
 }
 #footer>div{
          
        
           height: 40%;
           width: auto;
        
         

 }
 #footer>div>p{
    font-size: x-small;
    color: rgb(66, 60, 60);
    font-family: Arial, Helvetica, sans-serif
 }
 .f1{
        margin-left: 120px;
 }

 .btm12{
           height: 300px;
           width: 300Px;
           margin-bottom: 30px;
           font-size: x-small;
           font-family:Arial, Helvetica, sans-serif ;
           color: rgb(97, 90, 90);
           margin-left: 120px;

 }
 